.nav-content {
  display: flex;
  flex-basis: auto;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}

.card {
  cursor: pointer;
}

.active-card {
}

.inactive-card {
  opacity: 60%;
}

.card-image {
  border-radius: 15px;
}