.deck {
  display: flex;
  flex-direction: column;
}

.deck-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 2em;
  background-color: rgb(0, 128, 229);
  z-index: 2;
  text-align: center;
  line-height: 2em;
  color: #f9f9f9;
  font-size: 1em;
}

.deck-cards {
  margin-top: 3em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5em;
}


.active-card {
}

.inactive-card {
  opacity: 60%;
}

.card-img {
  width: 200px;
}
